@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$font-body:"Roboto", sans-serif;
$font-display:"Dancing Script", cursive;

$color-primary: #224567;
$color-secondary: #0d9fdd;
$color-footer: #e6ddb6;
$color-white: #fafafa;

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: $font-body;
    background-color: $color-white;
}

a:link,
a:visited {
    text-decoration: none;
}