@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Noto+Sans:wght@300&family=Nunito:wght@700&display=swap");
nav {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 3px;
  padding: 0;
}

.logo {
  display: flex;
  max-width: 40%;
  flex-direction: column;
  font-family: "Francois One", sans-serif;
  font-size: 60px;
  color: #224567;
  font-weight: bold;
  text-decoration: none;
  align-self: flex-start;
  justify-content: left;
}

.logo-img {
  max-width: 20%;
  max-block-size: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100px;
  height: 40px;
  background-color: #fafafa;
  padding: 5px;
  border: 2px solid #224567;
  border-radius: 10px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
}

.button2 {
  width: 120px;
  height: 25px;
  background-color: #224567;
  padding: 5px;
  border: 2px solid #224567;
  border-radius: 10px;
  color: #fafafa;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

.footer {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6ddb6;
  font-family: "Noto Sans", sans-serif;
}
.footer ul {
  list-style-type: none;
  text-align: center;
  background-color: #e6ddb6;
}
.footer li {
  margin-bottom: 10px;
  background-color: #e6ddb6;
}

h1, h3 {
  color: #0d9fdd;
  margin: 40px;
}

h2, h4, h5, p {
  color: #224567;
  margin: 20px;
  font-family: "Noto Sans", sans-serif;
}

h4 {
  font-size: larger;
}

h1 {
  font-family: "Nunito", sans-serif;
}

h3 {
  font-family: "Noto Sans", sans-serif;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}