@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Noto+Sans:wght@300&family=Nunito:wght@700&display=swap');

$font-body: "Noto Sans", sans-serif;
$font-logo: "Francois One", sans-serif;
$font-display: "Nunito", sans-serif;

$color-primary: #224567;
$color-secondary: #0d9fdd;
$color-footer: #e6ddb6;
$color-white: #f5f4ee;

* {
  margin: 0;
  padding: 0;
  background-color: $color-white;
}
nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  flex-direction: row;
  font-family: $font-logo;
  font-size: 60px;
  color: $color-primary;
  font-weight: bold;
}

section {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}
.button1 {
  width: 100px;
  background-color: $color-white;
  padding: 5px;
  border: 2px solid $color-primary;
  border-radius: 10px;
  font-family: $font-body;
  font-weight: bold;
  a.button1{
    align-items: center;
  }

}

.button2{
  width: 100px;
  background-color: $color-primary;
  padding: 5px;
  border: 2px solid $color-primary;
  border-radius: 10px;
  color: $color-white;
  font-family: $font-body;

}


header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.centered-text {
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box div {
  width: 100px;
  height: 100px;
}
.penguin-left, .benefits-left{
    align-self: flex-start;
}

.footer{
  height: 30vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: $color-footer;
  font-family: $font-body;
  
  ul{
    list-style-type: none;
    background-color: $color-footer;

  }
  li{
    margin-bottom: 10px;
    background-color: $color-footer;
    
  }
}

h1, h3 {
  color: $color-secondary;
  margin: 20px;
}
h2,h4,h5, p {
  color:$color-primary;
  margin: 20px;
  font-family:$font-body;
}
h1{
  font-family:$font-display;
}
h3{
  font-family: $font-body;
}
.bold{
  font-weight:bold;
}
.italic{
  font-style:italic;
}


a:link,
a:visited, a:focus {
  text-decoration: none;
  color: #224567;
  text-align: center;
  border:none;
  background-color: transparent;
}

