@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Noto+Sans:wght@300&family=Nunito:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #f8f8f6;
}

nav {
  display: flex;
  justify-content: space-around;
}

.logo {
  flex-direction: row;
  font-family: "Francois One", sans-serif;
  font-size: 60px;
  color: #224567;
  font-weight: bold;
  text-decoration: none;
}

section {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button1 {
  width: 100px;
  height: 40px;
  background-color: #f8f8f6;
  padding: 5px 5px 5px 5px;
  border: 2px solid #224567;
  border-radius: 10px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  text-align: center;
}

.button2 {
  width: 90px;
  background-color: #224567;
  padding: 5px;
  border: 2px solid #224567;
  border-radius: 10px;
  color: #f8f8f6;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.centered-text {
  align-items: center;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.footer {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6ddb6;
  font-family: "Noto Sans", sans-serif;
}
.footer ul {
  list-style-type: none;
  text-align: center;
  background-color: #e6ddb6;
}
.footer li {
  margin-bottom: 10px;
  background-color: #e6ddb6;
}

h1, h3 {
  color: #0d9fdd;
  margin: 20px;
}

h2, h4, h5, p {
  color: #224567;
  margin: 20px;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-family: "Nunito", sans-serif;
}

h3 {
  font-family: "Noto Sans", sans-serif;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

a.link1:link, a.link1:visited, a.link1:focus {
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #224567;
  font-weight: bold;
}

a.link2:link, a.link2:visited, a.link2:focus {
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #f8f8f6;
  font-weight: bold;
}

@media screen and (mim-width: 768px) {
  section div {
    width: 100%;
  }
}