@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Noto+Sans:wght@300&family=Nunito:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #f5f4ee;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  flex-direction: row;
  font-family: "Francois One", sans-serif;
  font-size: 60px;
  color: #224567;
  font-weight: bold;
}

section {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button1 {
  width: 100px;
  background-color: #f5f4ee;
  padding: 5px;
  border: 2px solid #224567;
  border-radius: 10px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
.button1 a.button1 {
  align-items: center;
}

.button2 {
  width: 100px;
  background-color: #224567;
  padding: 5px;
  border: 2px solid #224567;
  border-radius: 10px;
  color: #f5f4ee;
  font-family: "Noto Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.centered-text {
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box div {
  width: 100px;
  height: 100px;
}

.penguin-left, .benefits-left {
  align-self: flex-start;
}

.footer {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6ddb6;
  font-family: "Noto Sans", sans-serif;
}
.footer ul {
  list-style-type: none;
  background-color: #e6ddb6;
}
.footer li {
  margin-bottom: 10px;
  background-color: #e6ddb6;
}

h1, h3 {
  color: #0d9fdd;
  margin: 20px;
}

h2, h4, h5, p {
  color: #224567;
  margin: 20px;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-family: "Nunito", sans-serif;
}

h3 {
  font-family: "Noto Sans", sans-serif;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

a:link,
a:visited, a:focus {
  text-decoration: none;
  color: #224567;
  text-align: center;
  border: none;
  background-color: transparent;
}