@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  flex-direction: row;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  color: #224567;
  font-weight: bold;
}

.button1 {
  flex-direction: row;
  width: 100px;
  background-color: #fafafa;
  text-align: center;
  align-items: center;
  padding: 10px;
  border: 10px;
  border-radius: 10px;
  border-color: #224567;
  color: #224567;
}

.button2 {
  flex-direction: block;
  width: 100px;
  background-color: #224567;
  text-align: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border-color: #224567;
  color: #fafafa;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.centered-text {
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box div {
  width: 100px;
  height: 100px;
}

.penguin-left, .benefits-left {
  align-self: flex-start;
}

.footer {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6ddb6;
}
.footer ul {
  list-style-type: none;
  background-color: #e6ddb6;
}
.footer li {
  margin-bottom: 10px;
  background-color: #e6ddb6;
}

a:link,
a:visited {
  text-decoration: none;
  color: #224567;
}