@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$font-body:"Roboto", sans-serif;
$font-display:"Dancing Script", cursive;

$color-primary: #224567;
$color-secondary: #0d9fdd;
$color-footer: #e6ddb6;
$color-white: #fafafa;

*{
    margin:0;
    padding:0;
    background-color: $color-white;
}
nav{
    display: flex;
    justify-content: space-between;
}
.logo {
    flex-direction: row;
    font-family: $font-display;
    font-size: 60px;
    color: $color-primary;
    font-weight: bold;
}

.button1 {
    flex-direction: row;
    width: 100px;
    background-color: $color-white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border-color: $color-primary;
    color: $color-primary;
}